# Python core
__pycache__/
*.py[cod]
.Python
env/
venv/
.venv/
.env

# Database
*.sqlite3
*.db

# AI Models & Large Data (Rất quan trọng)
*.pkl
*.h5
*.onnx
*.pt
*.bin
dataset/
data/
models/
*.wav

# IDEs and OS files
.vscode/
.DS_Store